@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ja99l');
  src:  url('fonts/icomoon.eot?ja99l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ja99l') format('truetype'),
    url('fonts/icomoon.woff?ja99l') format('woff'),
    url('fonts/icomoon.svg?ja99l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
  color: black;
}
.icon-arrow-up:before {
  content: "\e901";
  color: black;
}




body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
}

.container_left
{
	margin: 100px 0px 0px 120px; 
	width: 50%;
	height: 35vw;
	background-image: url(lol.jpg);
	background-size: 126%;
	background-repeat: no-repeat;
	border-radius: 10px 0px 0px 10px;
}

.contact
{
	height: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact h3
{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: small;
	font-weight: 500;
	margin: 0px;
}

.social_link
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 1px 5px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position-x:center 
}

.social_link.twitter
{
	background-image: url(https://i.imgur.com/fRziT2q.png);
}

.social_link.facebook
{
	background-image: url(https://i.imgur.com/LgY5xSY.png);
}

.social_link.github
{
	background-image: url(https://i.imgur.com/Ri4v7AB.png);
}

.social_link.instagram
{
	background-image: url(https://i.imgur.com/GxGFFUz.png);
}

.hero
{
	margin: 50px 50px;
	color: white;
	font-weight: 700;
}

.boton_left
{
	margin: 10px 0px 0px 10px;
	font-size: 10px;
	text-decoration: none;
	border:2px solid rgb(85, 26, 139);
	border-radius: 10px;
	background-color: rgb(85, 26, 139);
	padding: 10px 30px;
	color: black;
}


.container_right
{
	border: 2px solid transparent;
	border-radius: 0px 10px 10px 0px;
	background-color: black;
	margin: 100px 0px 100px 0px; 
	width: 30%;
	height: 34.7vw;
	padding-right: 50px;
}

.link
{
	color: white;
	margin: 0px 5px 0px 0px;
	font-size: 10px;
}

ol
{
	justify-content: flex-end;
}

ol, li
{
	display: flex;
}

.eventos
{
	color: white;
	text-align: -webkit-center;
	margin: 80px 0px 0px 0px;
}

.icon_top,
.icon_bot
{
	border: 10px solid white;
	border-radius: 100px;
	background-color: white;
	width: 10px;
	text-align: inherit;
	margin: auto;
	font-size: 10px;
}

.icon_bot
{
	margin-bottom: 50px;
}

.info_event
{
	margin: 25px 0px 25px 0px;
	text-align: inherit;
	width: 300px;
	height: auto;
	
	justify-content: center;
}

.container_event
{
	display: flex;
	justify-content: center;
}

.event1
{
	border:1px solid white;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	background-image: url(https://www.washingtonian.com/wp-content/uploads/2017/06/photo.jpg);
	background-size: 100%;
	margin-right: 10px; 
	display: flex;
}

.event2
{
	border:1px solid white;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tomorrowland-2020-1591353633.jpg);
	background-size: 100%;
	margin-right: 10px; 
	display: flex;
}

.info
{
	text-align: justify;
	display: block;
}

.boton_right
{
	margin: 100px 0px 0px 180px;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none;
	border:2px solid gray;
	border-radius: 80px;
	background-color: gray;
	padding: 10px 30px;
	color: white;
}

@media screen and (max-width: 1024px)
{
	.container_left
	{
		margin: 300px 0px 0px 120px; 
		height: 50vw;
		background-size: 180%;
	}

	.social
	{
		padding-top: 9px;
	}

}

@media screen and (max-width: 768px)
{
	body
	{
		background-size: 1000px;
	}

	.contact h3
	{
		font-size: 10px;
		font-weight: 200;
	}

	.social
	{
		padding-top: 10px;
	}

	.social_link
	{
		background-size: 12px;
	}
}




